<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>photomosaic.js</title>
</head>

<body>
    <h3>photomosaic.js</h3>
    <!--값 js로 전달위해 필요-->
    <div id="num" style="display: none;"><%=data[0].length%></div> <!--모자이크할 얼굴 수-->
    <div id="size_w" style="display: none;"><%=data[0].size_w%></div> <!--원본사진 너비-->
    <div id="size_h" style="display: none;"><%=data[0].size_h%></div> <!--원본사진 높이-->
    <%for(var i=0;i<data[0].length;i++){%>
        <div class="x" style="display: none;"><%=data[i+1].x%></div> <!--모자이크 x 시작점-->
        <div class="y" style="display: none;"><%=data[i+1].y%></div> <!--모자이크 y 시작점-->
        <div class="width" style="display: none;"><%=data[i+1].width%></div> <!--모자이크 너비-->
        <div class="height" style="display: none;"><%=data[i+1].height%></div> <!--모자이크 높이-->
    <%}%>
    <div>
        <img src="./han.jpg" id='image' alt="" width="<%=data[0].size_w%>" height="<%=data[0].size_h%>"> <!--원본-->
    </div>
    <div >
        <%for(var i=0;i<data[0].length;i++){%>
            <img class="resultImage" alt="" width="<%=data[0].size_w%>" height="<%=data[0].size_h%>"> <!--모자이크-->
        <%}%>
    </div>

    <div>
        <canvas id="mergeCanvas" width="<%=data[0].size_w%>" height="<%=data[0].size_h%>"></canvas> <!--원본+모자이크-->
    </div>
</body>
<script>
    var faces=new Object();
    for(var i=0;i<parseInt(document.getElementById('num').innerHTML);i++){
        var datas= {
            'x':document.getElementsByClassName('x')[i].innerHTML,
            'y':document.getElementsByClassName('y')[i].innerHTML,
            'width':document.getElementsByClassName('width')[i].innerHTML,
            'height':document.getElementsByClassName('height')[i].innerHTML
        }
        faces[i]=datas;
    }
    /*
    faces={
        0:{
            x:...
            y:...
            width:...
            height:...
        },
        1:{
            x:...
            y:...
            width:...
            height:...
        },
        ...
    }
    */

    var content={
        "info":{
            'length':document.getElementById('num').innerHTML,
            'size_w':document.getElementById('size_w').innerHTML,
            'size_h':document.getElementById('size_h').innerHTML,
        },
        faces
    }
    /*
    content={
        "info":{
            length:...
            size_W:...
            size_h:...
        },
        "faces":{
            0:{
                x:...
                y:...
                width:...
                height:...
            },
            1:{
                x:...
                y:...
                width:...
                height:...
            },
            ...
        }
    }
    */
    localStorage.clear();//localStorage 초기화
    localStorage.setItem("data",JSON.stringify(content));//localstorage에 저장해서 photomosaic.js에서 쓸 수 있도록
</script>
<script src='./photomosaic.js'></script>
<script>
    var photomosaic = new PhotoMosaic({
        image: document.getElementById('image'),
        width: document.getElementById('size_w').innerHTML,
        height: document.getElementById('size_h').innerHTML,
        tileWidth: 15,
        tileHeight: 15
    })
</script>

</html>
